:root {
  --v-main-color: white;
  --v-primary-color: white;
  --v-icon-color: rgb(77, 77, 77);
  --v-search-box-background: white;
  --v-search-box-border-color: #ccc;
  --v-search-box-button-icon-color: #333;
  --v-drawer-divid-color: rgb(229, 229, 229);
  --v-drawer-item-active: rgb(229, 229, 229);
  --v-icon-inactive: #606060;

  --v-mini-max-width: 1330px;

  /* text */
  --v-text-primary: #030303;
  --v-text-secondary: #606060;

  --v-top-bar-height: 56px;
  --v-item-height: 40px;
  --v-button-width: 40px;
  --v-button-height: 40px;

  --v-search-box-width: 728px;
  --v-search-box-height: 36px; 

  --v-app-drawer-width: 240px;
  --v-app-drawer-item-height: 40px;

  --v-text-comment-font-size: 14px;
  --v-text-comment-font-weight: 400;
  --v-text-comment-line-height: 16px;
  --v-text-comment-letter-space: .2px;

  --v-mini-text-comment-font-size: 12px;
  --v-mini-text-comment-font-weight: 400;
  --v-mini-text-comment-line-height: 16px;
  --v-mini-text-comment-letter-space: .2px;
}

:root[data-theme=dark] {
  --v-main-color: rgb(19, 19, 19);
  --v-primary-color: rgb(33, 33, 33);
  --v-icon-color: white;
  --v-search-box-background: rgb(15, 15, 15);
  --v-search-box-border-color: #252525;
  --v-search-box-button-icon-color: #757575;
  --v-drawer-divid-color: rgb(56, 56, 56);
  --v-drawer-item-active: rgb(56, 56,56);
  --v-icon-inactive: #909090;

  /* text */
  --v-text-primary: #fff;
  --v-text-secondary: #aaa;
}

.drawer-item-title {
  font-size: var(--v-text-comment-font-size);
  font-weight: var(--v-text-comment-font-weight);
  line-height: var(--v-text-comment-line-height);
  letter-spacing: var(--v-text-comment-letter-space);
}

.mini-drawer-item-title {
  font-size: var(--v-mini-text-comment-font-size);
  font-weight: var(--v-mini-text-comment-font-weight);
  line-height: var(--v-mini-text-comment-line-height);
  letter-spacing: var(--v-mini-text-comment-letter-space);
}

.drawer-section-title {
  font-size: var(--v-text-comment-font-size);
  font-weight: 500;
  line-height: var(--v-text-comment-line-height);
  letter-spacing: var(--v-text-comment-letter-space);
}